/* #0A1828 #1785828*/
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    
}
.container{
   display: flex;
    height: 100vh;
    width: 100vw;

}
.div-left{
   display: inline-block;
   width: 65%;
    height: 100vh;
    background: #FDF8F0;
    
}
.div-right{
    position: relative;
    width: 35%;
    display: inline-block;
    height: 100vh;
    background: #F0122D;
}
.image-left-div{
   text-align: center;
   
   
}
.text-div{
    width: 65%;
    margin:2.5% auto 0 auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.content-div-left{
    margin-top: 30vh;  
}
.content-div-right{
    margin-top: 50%;
    z-index: 1;
}
.top-div{
   
}
.main-form-div{
    z-index: 99999;
}
.form-div {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 38vh;
    
}
.image-div-right {
    background:#F0122D ;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 34vh;
    left: 44.5%;
    border-radius: 100% 100%;
    z-index: 1;
}
.tab-container{
    display: none;
    position: absolute;
    top: 2vh;
    left: 5vh;
    right: 5vh;
  }
  .tab-container:first-child{
    display: block;
  }
  .tab-container:target{
    display: block;
    height: 100%;
    position: absolute;
    top: 2vh;
    left: 5vh;
    right: 5vh;

  }

#links{
  
    height: 6vh;
    width: 100%;
    background: black;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
   

}
#wrapper{
   margin-top:5vh ;
    margin: 0px 0px 0px 0px;
    width: 94%;
    position: relative;
    display: flex;
}

#link1{
    
    text-align: center;
    width: 50%;
    text-decoration:none;
    float: left;
    color: #FDF8F0;
    border-radius: 10%;
    max-width: fit-content;
    margin-left: 20%;

}
#link1:hover{
     background:#FDF8F0;
     color: black;
    z-index: 999;
    transform: scale(1.5);
       
}
#link1:active{
    animation: ripple2 0.5s ease-out;
}
#link2:active{
    animation: ripple2 0.5s ease-out;
}

#link2:hover{
    background:#FDF8F0;
    color: black;
   z-index: 999;
   transform: scale(1.5);    
}
.link1{
    margin-top: 1.5vh;
    
}

.link2{
    margin-top: 1.5vh;
    

}
#link2{
    
    text-decoration: none;
    text-align: center;
    float: right;
    color: #FDF8F0;
    width: 50%;
    max-width: fit-content;
    margin-right: 17%;
    border-radius: 10%;
 
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    margin: 0px;
    border: 1px solid #ddd;
    background-color: #FDF8F0;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.15) inset;
  }

  input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
  }

  input[type="text"]:focus, input[type="password"]:focus ,input[type="email"]:focus {
    outline: none;
    border-color: #333;
  }

  input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-left: 35%;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to right, black, #444);
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  
  input[type="button"]:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #444, black);
  }
 
  input[type="button"]:active {
    position: relative;
    overflow: hidden;
    animation: ripple 0.5s ease-out;
  }
  
  @keyframes ripple {
    from {
      transform: scale(1);
      opacity: 0.5;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes ripple2 {
    from {
      transform: scale(1);
      opacity: 0.5;
      background: #FDF8F0;
    }
    to {
      transform: scale(2);
      opacity: 0.2;
      background: #F0122D
    }
  }
  input[type="text"]:focus-within {
    animation: typing 0.2s ease-in-out per-letter;
  }
  
